{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "css/home.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Exile&family=Hammersmith+One&family=Kablammo&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="navbar">
<h3 > To DO </h3> 
  {% comment %} <input type="text" placeholder="Search.."> {% endcomment %}
</div>
<div class="container">
    {% comment %} <h1>To-Do List</h1> {% endcomment %}

    <div class="input-section">
      <input type="text" placeholder="Enter a new task" />
      <button >   Add   </button>
    </div>

    <div class="tasks-section">
      <div class="task-list">
        <h2>Tasks List</h2>
        <div class="task">
            <h3>Buy groceries </h3>
            <button >   Mark Done   </button>
            <button >   Remove   </button>
        </div>
        <div class="task">
            <h3>Finish assignment</h3>
            <button >   Mark Done   </button>
            <button >   Remove   </button>
        </div>
        <div class="task">
            <h3>Meeting friends</h3>
           
            <button >   Mark Done   </button>
            <button >   Remove   </button>
       
        </div>
      </div>

      <div class="task-list">
        <h2>Completed tasks</h2>
        <div class="task">
            <h3>Morning walk</h3>
           
            <button >   Mark Undone   </button>
            <button >   Remove   </button>
       
        </div>
         <div class="task">
            <h3>Read book</h3>
           
            <button >   Mark Undone   </button>
            <button >   Remove   </button>
       
        </div>
        
      </div>
    </div>
  </div>
</body>
</html>