{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "css/login.css" %}>
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Exile&family=Hammersmith+One&family=Kablammo&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="overlay">
    <div class="register-box">
      <h2>Login</h2>

      <form onsubmit="return checkLogin()">
        <input class="input" id="username" type="text" placeholder="Username" required />

        <input class="input" id="password" type="password" placeholder="Password" required />

        <button class="but" type="submit">Login</button>
      </form>

      <div class="links">
        <a href="#">Don't have an account? Register</a>
      </div>
    </div>
  </div>

  <script>
    function checkLogin() {
      let enteredUsername = document.getElementById("username").value.trim();
      let enteredPassword = document.getElementById("password").value;

      if (enteredUsername != "" && enteredPassword != "") {
        alert("Logged in successfully!");
      } 
      else {
      alert("Please enter both username and password.");
      } 
    }
  </script>
</body>
</html>